body{
    background-color: beige;
    color: brown;
    font-size: 25px ;
    margin: 70px;
}
.parent{
    border: 5px solid brown;
    height: 219px;
    width: 561px;
    margin: 1px auto;
}
h1{
    color: chocolate;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
h2{
    color: chocolate ;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
img{
    margin: 70px auto;
}
